<ul>
  <li><a href="/">Startseite</a></li>
  <f:for each="{mainnav}" as="page" iteration="m">
    <li class="{f:if(condition: page.children, then: 'has-sub')} {f:if(condition: page.active, then: 'active')}"><a href="{page.link}" title="{page.title}">{page.title}</a>
      <f:if condition="{page.children}">
        <ul class="{f:if(condition: m.isLast, then:'last')}">
          <f:for each="{page.children}" as="subpage" iteration="i">
            <li class="{f:if(condition: i.isLast, then:'last')} {f:if(condition: subpage.active, then:'active')}"><a href="{subpage.link}" title="{subpage.title}">{subpage.title}</a></li>
          </f:for>
        </ul>
      </f:if>
    </li>
  </f:for>
</ul>
