<f:layout name="DefaultLayout" />
<f:section name="content">
  <h2><%= key %> => Templates/Content.html</h2>

  <!--TYPO3SEARCH_begin-->
  {content -> f:format.raw()}
  <!--TYPO3SEARCH_end-->
</f:section>
