{namespace formvh=TYPO3\CMS\Form\ViewHelpers}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="format-detection" content="telephone=no">
  <style>
    * {
      font-size: 18px;
      margin: 0;
      line-height: 25px;
      padding: 0;
    }

    a {
      color: #000;
      text-decoration: none;
      transition: all ease .6s;
    }
    a:hover {
      text-decoration: underline;
    }

    table {
      border: 0;
      max-width: 75rem;
      padding: 1rem 0;
      width: 100%;
    }

    td {
      text-align: center;
      padding: .3rem 1rem;
    }
    td td {
      padding: 0;
    }

    .header {
      background-color: #fff;
      box-shadow: 0 0 60px -20px rgba(0, 0, 0, .2);
      margin-bottom: 2rem;
    }

    .main {
      background-color: #fff;
      padding: 1rem 2rem;
    }
    .main tr:nth-child(2n+1) {
      background-color: #f8f9f9;
    }
    .main tr tr:first-of-type {
      background-color: transparent !important;
      color: #000;
    }

    .main td {
      text-align: left;
    }

    .logo {
      height: 35px;
      width: 499px;
    }
  </style>
</head>
<body>
<table class="header" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      Titel
    </td>
  </tr>
</table>

<table class="main" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2">
      Eine neue Anfrage liegt vor:
    </td>
  </tr>
  <formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">

    <tr>
      <td width="35%">{formvh:translateElementProperty(element: formValue.element, property: 'label')}</td>
      <td width="65%">
        <f:if condition="{formValue.value}">
          <f:then>
            <f:if condition="{formValue.isMultiValue}">
              <f:then>
                <table class="" cellspacing="0">
                  <f:for each="{formValue.processedValue}" as="value">
                    <tr>
                      <td>{value}</td>
                    </tr>
                  </f:for>
                </table>
              </f:then>
              <f:else>
                <table cellspacing="0" border="0">
                  <tr>
                    <td><f:format.nl2br>{formValue.processedValue}</f:format.nl2br></td>
                  </tr>
                </table>
              </f:else>
            </f:if>
          </f:then>
        </f:if>
      </td>
    </tr>

  </formvh:renderAllFormValues>
</table>
</body>
</html>
