<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
  <f:render partial="Menu" arguments="{_all}"/>
  <h1><%= key %> => Layouts/Default.html</h1>
  <f:render section="content" />
</div>
